// COLORS
$color-grey-dark: #333;
$color-grey-medium: #777;
$color-grey-medium-2: #aaa;
$color-grey-medium-3: #ccc;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;

$color-success: #4F8A10;
$color-error: #D8000C;
$color-warning: #9F6000;
$color-info: #00529B;
